using {{rootNamespace}}.Core.Domain.{{entityNamespace}};
using {{rootNamespace}}.Core.Repository.{{entityNamespace}};
using {{rootNamespace}}.Data.Infrastructure;

namespace {{rootNamespace}}.Data.Repository.{{entityNamespace}}
{
    public class {{entityName}}Repository : Repository<{{entityClass}}>, I{{entityName}}Repository
    {
        public {{entityName}}Repository(IDatabaseFactory databaseFactory) : base(databaseFactory)
        { 
        }
    }
}
