using {{rootNamespace}}.Core.Domain.{{entityNamespace}};
using {{rootNamespace}}.Core.Infrastructure;

namespace {{rootNamespace}}.Core.Repository.{{entityNamespace}}
{
	public interface I{{entity}}Repository : IRepository<{{entityClass}}>
	{
	}
}